DATABASE_URL=postgres://xpressgo:xpressgo@postgres:5432/xpressgo?sslmode=disable
TELEGRAM_BOT_TOKEN=
TELEGRAM_GATEWAY_TOKEN=
JWT_SECRET=
APP_URL=https://customer.novdaunion.uz
VITE_API_BASE_URL=https://srvr.novdaunion.uz
NUXT_PUBLIC_API_BASE=https://srvr.novdaunion.uz
